.main {
  margin-top: 47px;
  width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
}
.container-main {
  width: 80;
}
.arrow-sm {
  content: url("../img/Arrow.png");
  height: 10px;
  margin-left: 12px;
  margin-right: 8px;
}
.text-nav {
  align-items: center;
  margin-bottom: 38px;
}

/* form */

.main-form {
  display: flex;
  border: 1px solid #e6eaf0;
  border-radius: 8px;

  padding: 16px;
  gap: 1em;
  flex-wrap: wrap;
}
.input-field {
  border: 1px solid #a7b2c3;
  border-radius: 5px;
  width: calc(85vw / 6.47);
  height: 41px;
  padding: 5px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #596579;
}
input:focus {
  outline: 2px #596579;
}
/* .button-search {
  background: #596579;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  padding: 11px 24px;
  gap: 10px;
  border: #596579 0.1px solid;
  position: relative;
  width: 95px;
  height: 42px;
  left: 280px;
  top: 20px;
  color: #ffffff;
} */
.add-button {
  background: #596579;
  border-radius: 5px;
  color: #ffffff;
  align-items: center;
  padding: 11px 12px;
  margin-left: 20px;

  /* position: relative;
  left: 1481px;
  top: 45px; */
}
.refresh {
  content: url("../img/refresh.png");
}
.utilities {
  margin-left: auto;
  width: fit-content;
  margin-top: 30px;
}
.button-search {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;

  width: 95px;
  height: 42px;
  background: #596579;
  border-radius: 5px;
  outline: none;
}
@media (max-width: 1700px) {
  .input-field {
    width: calc(85vw / 5.47);
  }
}
@media (max-width: 1440px) {
  .input-field {
    width: calc(85vw / 4.47);
  }
}
@media (max-width: 1024px) {
  .input-field {
    width: calc(85vw / 3.47);
  }
}
@media (max-width: 768px) {
  .container {
    width: 80vw;
  }
  .input-field {
    width: calc(85vw / 2.4);
  }
}
@media (max-width: 534px) {
  .container {
    width: 80vw;
  }
  .input-field {
    width: calc(85vw / 1.2);
  }
  .button-search {
    width: calc(85vw / 1.2);
    margin: 0px;
  }
}
/* @media (max-width: 1440px) {
  .input-field {
    width: calc(85vw / 4.47);
  }
} */
/* @media (max-width: 1100px) {
  .input-field {
    width: calc(62vw / 4.3);
  }
  .container {
    width: 69vw;
  }
}

@media (max-width: 665px) {
  .main-form {
    width: 60vw;
  }
  .input-field {
    width: 50vw;
  }
}
@media (max-width: 360px) {
  .text-nav {
    margin-left: 5px;
  }
  .sm-hide {
    display: none;
  }
} */
