.container-student {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  /* identical to box height, or 157% */

  /* Grey/600 */

  color: #596579;
}
.hamburger-seconday {
  transform: translateX(10px);
  transform: translatey(10px);
  position: absolute;
}
.sidebar-secondary {
  position: absolute;
  z-index: 2;
  width: 20vw;
  height: 100vh;
  background: #f4f7fb;
  padding-top: 15px;
}
.hamburger-seconday {
  padding-left: 12px;
  margin-bottom: 18px;
  z-index: 10;
}
.arrow {
  content: url("./img/Arrow.png");
  width: fit-content;
  margin-right: 10px;
}
.list-secondary {
  margin-top: 20px;
  list-style-image: url("./img/Arrow.png");
}
.list-action {
  width: 95%;
  margin: 4px;
  padding: 4px;
  padding-left: 12px;
  padding-right: auto;
  margin-bottom: 20px;
  cursor: pointer;
}
.list-action-active {
  background: #e6eaf0;
  border-radius: 2px;
}
.list-action:hover {
  background: #e6eaf0;
  border-radius: 2px;
}
.hide {
  display: none;
}
@media (max-width: 872px) {
  .sidebar-secondary {
    width: 40vw;
  }
}
@media (max-width: 450px) {
  .sidebar-secondary {
    width: 70vw;
  }
}

/* @media (max-width: 650px) {
  .sidebar-secondary {
    width: 30vw;
  }
}
@media (max-width: 600px) {
  .sidebar-secondary {
    display: none;
  }
} */
